ul {
    padding: 0;
    margin: 0;
}

#main ul {
    list-style: none;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

#main ul li {
    padding: 2em;
}

#main ul a{
    text-decoration: none;
}

#a1 {
    background-color: red;
}

#a2 {
    background-color: red;
}

#a3 {
    background-color: red;
}

#a4 {
    background-color: red;
}

#a5 {
    background-color: red;
}

#a6 {
    background-color: red;
}

#a7 {
    background-color: red;
}

#a8 {
    background-color: red;
}

#a9 {
    background-color: red;
}

#a10 {
    background-color: red;
}

#a11 {
    background-color: rgb(190, 35, 152);
}

#a12 {
    background-color: red;
}

#a13 {
    background-color: red;
}

#a14 {
    background-color: red;
}

#a15 {
    background-color: red;
}

#a16 {
    background-color: red;
}

#a17 {
    background-color: rgb(107, 6, 6);
}

#a18 {
    background-color: red;
}

#a19 {
    background-color: red;
}

#a20 {
    background-color: red;
}

#a21 {
    background-color: red;
}

#a22 {
    background-color: red;
}

#a23 {
    background-color: red;
}

#a24 {
    background-color: red;
}
/* background-image: url("../../media/examples/lizard.png"); */
#a25 {
    background-color: red;
}

#a26 {
    background-color: red;
}

#a27 {
    background-color: red;
}

#a28 {
    background-color: red;
}

#a29 {
    background-color: red;
}

#a30 {
    background-color: red;
}

#a31 {
    background-color: red;
}

#a32 {
    background-color: red;
}

#a33 {
    background-color: red;
}

#a34 {
    background-color: red;
}

