div.producto {
    background-color: blueviolet;
}

div {
    background-color: yellow !important;
}

/* modelo de caja */

#a1 {
    background-color: yellowgreen;
    padding: 5px;
    border: 5px solid black;
    margin: 10px;
}

#a1 p {
    background-color: yellow;
    margin: 0;
}

#a2 p {
    background-color: black;
    padding: 5px;
}

#a2 {
    background-color: lawngreen;
    border: 3px solid white;

    /* rellenos iguales de 4 lados */
    padding: 10px;

    /* 10px sup inf    20px izq-der */
    padding: 10px 20px;

    /* 10px sup     50px izq-der
    30px inf
     */
    padding: 10px 50px 30px;

    /* 10px sup inf
        20px der
        30px inf
        40 izq */
    padding: 10px 20px 30px 40px;
}

#a3 {
    background: pink;
    width: 100;
    height: 100px;
    padding: 5px;
    border: 5px solid black;

}

#a4 {
    background-color: powderblue;
    width: 100;
    height: 100px;
    padding: 5px;
    border: 5px solid black;
    box-sizing: border-box;
}


#a5 {

    background-color: red;
    display: inline-block;
    width: 100px;
    height: 100px;

}

#a5 span {
    display: inline-block;
    background-color: white;
    height: 30 px;
    width: 30px;
}

#a6 {
    display: inline-block;
    background-color: blueviolet;
    width: 150px;
    height: 150px;
}

#a7 p {
    font-size: 10px;
    background-color: aqua;
    border: 0.5em solid black;
    padding: 2rem;
    margin: 3em;
}

/* margin 30
padding 32 */

#a8 {
    background-color: rgb(154, 96, 16);
    margin: auto;
    width: 70vw;
    height: 100vh;
}

body {
    width: 400px;
    background-color: rgb(255, 0, 0);
}

#a9 {
    background-color: rgb(107, 181, 189);
    width: 70%;
    height: 100%;
}

a {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 6px;
    padding: 4px;
}
