*{
    font-family:'Helvetica';
    color: white;
    background-color: #154360; 
}

span{
    color:#F1C40F;
}

#principal{
    font-size: 45px;
} 

.css{
    font-family: 'Verdana';
    color: #AAB7B8;
}
                         
.rep{
    font-family: 'Verdana';
    color: #AAB7B8;
}
.pp {
    text-decoration:none;
    border: 2px solid #212F3C;
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
    color: #AAB7B8;
    float: center;
}

#titulo{
    font-size: 30px;
    color: #F1C40F;
    background-color: #212F3C;
    border-radius: 10px;
    border: 2px solid #212F3C;
}

.lista li{
    color: #AAB7B8;
    width: 150px;
    height: 40px;
}

figure{
    border-radius: 5px;
}