body{
    background-color: rgb(247, 241, 229);
}

h1{
    color: rgb(102, 90, 72);
    font-style: italic;
    font-family: sans-serif;
}

h2{
    color: rgb(173, 142, 112);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

#a2 a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#a2 a:hover{
    color: whitesmoke;
}

#a1 a{
    color: rgb(60, 42, 33);
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#a1 a:hover{
    color: whitesmoke;
    background-color: rgb(60, 42, 33);
}

img{
    border-radius: 50px;
    border: 5px solid rgb(60, 42, 33);
}
