/* colores  */

/* primer parrafo con color predefinido */
#s1 p:first-child{
    background-color: rgb(221, 255, 71);
}
/* egundo parrafo color RGB */
#s1 p:nth-child(2){
    background-color: #800717;
}
/* ultimo parrafo con modelo hs1 */
#s1 p:last-child {
    background-color: hsl(263, 96%, 18%);
}

#s2 p {
    color: black;
    width: 10rem;
    height: 10rem;
    background-color: aquamarine;
    overflow: auto;
}

#s3 img {
    width: 10em;
    float: left;
    margin-right: 1em;
    border: 1px solid #000;
    border-radius: 100%;
}

#s4 ul{
    background-color: blueviolet;
}

#s4 li{
    float: right;
    width: 25%;
}

.clearfix {
    clear: both;
    content: "";
    display: table;
}