h1{
    color: red;
}

h2 {
    background-color: rgb(7, 45, 170);
    width: 120px; 
    height: 30px; 
    border: 1px solid #555;
    background: #428bca;
}

#l1 {
    background-color: rgb(2, 252, 148);
    width: 120px; 
    height: 20px; 
    border: 1px solid #555;
    background: #18d1a3;
}
#l2 {
    background-color: rgb(2, 252, 148);
    width: 120px; 
    height: 20px; 
    border: 1px solid #555;
    background: #18d1a3;
}
#l3 {
    background-color: rgb(2, 252, 148);
    width: 120px; 
    height: 20px; 
    border: 1px solid #555;
    background: #18d1a3;
}
#l4 {
    background-color: rgb(2, 252, 148);
    width: 120px; 
    height: 20px; 
    border: 1px solid #555;
    background: #18d1a3;
}
#l6 {
    background-color: rgb(2, 252, 148);
    width: 120px; 
    height: 20px; 
    border: 1px solid #555;
    background: #18d1a3;

}

