/* Cambiar color a las secciones cuando el puntero del mouse pase sobre el elemento*/

section:hover{
    background-color: aqua;
}

p:hover{
    font-size: 18px;
    font-variant: small-caps;
}

a{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
}

a:hover{
    background-color: aqua;
    color: white;
}

/* Aplicar un estilo al primer elemento de la lista1 */
#lista1 li:first-child{
    border-top: 3px dotted black;
    color: blue;
}

/* Aplicar un estilo al ultimo elemento de la lista */
#lista1 li:last-child{
    background-color: aqua;
    border-bottom: 3px dotted black;
}

/* Aplicar estilo a noveno elemento */
#lista1 li:nth-child(9){
    border: 1px solid black;
    border-radius: 3px;
}

/* Aplicar estilo cada 5 items */
#lista1 li:nth-child(5n){
    border-bottom: 4px dotted gray;
}

/* Poner estilos a los elementos impares */
#lista-2 li:nth-child(odd){
    background-color: yellowgreen;
}
/* Poner estilos a los elementos Pares */
#lista-2 li:nth-child(even){
    background-color: rgb(0, 204, 255);
 }

 /* Cambiar el tamaño de la primer letrade todos los parrafos  de la pagina*/

 p::first-letter{
    font-size: 100px;
    font-weight: bold;
 }

 p::first-line{
    background-color: brown;
 }