/* cambiar color a las secciones cuando el puntero del mause pase por el elemento */
section:hover{
    background-color: brown;
}

p:hover{
    font-size: 20px;
    font-variant: small-caps;
}

a{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
}


a:hover{
    background-color: brown;
    color: white;
}

/* aplicar estilo al primer elemento lista */
#lista1 li:first-child{
    border-top: 3px dotted black;
    color: blue;
}

/* aplicar estilo al ultimo elemento lista */
#lista1 li:last-child{
    background-color: brown;
    border-bottom: 3px dotted black;
}

/* aplicar estilo al noveno de la lista */
#lista1 li:nth-child(9){
    border: 3px solid black;
    border-radius: 10px;
    color: blue;
}

/* aplicar estilo cada 5 items */
#lista1 li:nth-child(5n){
    border-bottom: 4px dotted gray;

}


/* poner estilos a los impares  con odd*/
#lista2 li:nth-child(odd){
    background-color: gainsboro;
}


/* poner estilo a los pares con even */
#lista2 li:nth-child(even){
    background-color: yellow;
}
