/*  colores  */

/* primera parrafo con color predefinido */
#s1 p:first-child{
    background-color: tomato;
}

/* segundo parrafo parrafo con color predefinido */
#s1 p:nth-child(2) {
    background-color: #BE6DB7;
}

/* segundo parrafo parrafo con color predefinido */
#s1 p:last-child {
    background-color: hsl(345, 90%, 50%);
}

#s2 p {
    color: #fff;
    width: 10rem;
    height: 10rem;
    background-color:  #804674;
    overflow: auto;
}

#s3 imag {
    width: 10em;
    float: left;
    margin-right: 1em;
    border: 1px solid #000;
    border-radius: 100%;
}

#s4 ul{
    background-color: #E7B10A;
}

#s4 li{
    float: right;
    width: 25%;
}

.clearfix {
    clear: both;
    content: "";
    display: table;
}