*{
    margin: 0;
}

/* Estilos pagina 1 */
#page1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px 200px;
    gap: 0.5em;
}
#page1 header{
    background-color: rgb(188, 170, 238);
    grid-column: 1 / -1;
}

#page1 main{
    background-color: rgb(65, 9, 110);
}

#page1 aside{
    background-color: rgb(152, 214, 230);
}

#page1 footer{
    background-color: aqua;
    grid-column: 1 / -1;
}

/* Estilos pagina 2 */
#page2{
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 0.5em;
    grid-template-areas: "h a"
                         "m a"
                         "f a"
}
#page2 header{
    background-color: rgb(192, 85, 224);
    grid-area: h;
}

#page2 main{
    background-color: rgb(52, 4, 97);
    grid-area: m;
}

#page2 aside{
    background-color: rgb(140, 202, 226);
    grid-area: a;
}

#page2 footer{
    background-color: aqua;
    grid-area: f;
}