/* colores */
/* primer parrafo con color predefinido */

#s1 p:first-child {
    background-color:tomato;
}

/* SEGUNDO parrafo con color rgb */

#s1 p:nth-child(2) {
    background-color: violet;
}

/* tercer parrafo con color hsl */

#s1 p:last-child {
    background: hsl(345, 90%, 50%)
}

#s2 p {
    color: #fff;
    width: 10rem;
    height: 10rem;
    background-color: blue;
    overflow: auto;
}

#s3 img {
    width: 10em;
    float: left;
    margin-left: 1em;
    border: 1px solid #000;
    border-radius: 100%;
}
#s4 ul {
    background-color: #ffea20;

}

#s4 li{
    float: right;
    width: 25%;
}

.clearfix {
    clear: both;
    content: "";
    display: table;
}











