#a1 {
    display: flex;
    height: 200px;
    background-color: #E384FF;
    align-items: center;
}

#s1 {
    background-color: #B8621B;
    flex-basis: 250px;
    flex-shrink: 0;
    flex-grow: 1;
    
    flex: 1 0 250px;
}

#s2 {
    background-color: #159895;
    flex-basis: 150px;
}

#s3 {
    background-color: #EA5455;
    align-self: flex-end;
}

#s4 {
    background-color: #539165;
    flex-grow: 1;
}