/* colores */

/* primer parrafo con color predifinido */

#s1 p:first-child {
    background-color: red;
}

/* segundo parrafo con color rgb */

#s1 p:nth-child(2) {
    background-color: #CF4DCE;
}

/* ultimo parrafo con modelo hs1 */

#s1 p:last-child{
    background-color: hsl(20, 0, 100);
}

#s2 p {
    color: #fff;
    width: 10rem;
    height: 10rem;
    background-color: #13005A;
    overflow: auto;
}

#s3 img {
    width: 10em;
    float: left;
    margin-right: 1em ;
    border: 1px solid #000;
    border-radius: 100%;
}

#s4 ul {
    background-color: #FFEA20;
}

#s4 li{
    float: right;
    width: 25%;
}

.clearfix {
    clear: both;
    content: "";
    display: table;
}
/* auto o scroll es para darle para abajo como un parrafo */
