div {
    background-color: yellow !important;
}

div.producto {
    background-color: blueviolet;
}


/* modelo de caja */

#a1 {
    background-color: aqua ;
    padding: 5px ;
    border: 5px solid black;
    margin: 10px;
}

#a1 p {
    background-color: yellow;
    margin: 0;
}

#a2 {
    border-color: blue;
    padding: 5px;
}

#a2 p {
    background-color: crimson;
    border: 3px solid white;
    
    /*rellenos iguales a lados */
    padding: 10px;
    padding: 10px 20px
}

#a3 {
    background-color: green;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 5px greenyellow;
}

#a4 p {
    background-color: dodgerblue;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 5px black;
}

#a5 {
    background-color: cornflowerblue;
    display: inline block;
    width: 100px;
    height: 100px;
}
#a5 span {
    background-color: wheat;
}

#a6 {
    display: inline block;
    background-color: red;
    width: 150px;
    height: 150px;

}

#a7 {
    font-size: 16px;
    background-color: aqua;
    border: 0.5mm solid black;
    padding: 1mm;
    margin: 1.5mm;
}

#a8 {
    background-color: grey;
    margin:auto;
    width: 70%;
    height: 100%;
}
body {
    width: 400px;
    background-color: lawngreen;
}

#a9 {
    background-color:darkorange;
    margin:auto;
    width: 70%;
    height: 100%;
}