/*Cambiar color a las secciones cuando el puntero del mouse pase sobre el elemento*/
section:hover {
    background-color: rgba(92, 92, 221, 0.881);
}

p:hover{
    font-size:  18px;
    font-variant: small-caps;
}
a{
    text-decoration: none;
    border:1px solid black;
    border-radius: 5px;
    padding: 4px;
}
a:hover{
    background-color: rgba(94, 12, 153, 0.676);
    color:rgb(0, 0, 0);
}

/*Aplicar un estilo al primer elemetno de la lista-1*/
#lista-1 li:first-child {
    border-top: 3px dotted black;
    color: blue;
}
/*Aplicar estilo al ultimo elemento de la lista */
#lista-1 li:last-child{
    background-color: aqua;
    border-bottom: 3px dotted black;
}

/*Aplicar estilo al noveno elemento*/
#lista-1 li:nth-child(9){
    border:1px solid black;
    border-radius: 3px;
}
/*aplicar estilo cada 5 items*/
#lista-1 li:nth-child(5n){
    border-bottom: 4px dotted rgb(219, 235, 127);
}
/* poner estilo a los elementos impares odd */
#lista-2 li:nth-child(odd){
    background-color: rgb(73, 73, 248);
}

/* poner estilo a los elementos pares even */
#lista-2 li:nth-child(even){
    background-color: rgb(15, 248, 182);
}

/* Cambiar el tamaño de la primer letra de todos los parrafos de la pagina*/
p::first-letter{
    font-size: 100px;
    font-weight: bold;
}
p::first-line{
    background-color: rgb(87, 225, 186);
}