/* Cambiar color a las secciones cuando el puntero del mouse pase sobre el elemento */

section:hover {
    background-color: rgb(92, 160, 238);
}

p:hover {
    font-size: 18px;
    font-variant: small-caps;
}

a {
    text-decoration:none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
}

a:hover {
    background-color: brown;
    color: blanchedalmond;
}

/* Aplicar un estilo al primer elemento de la lista 1 */
#Lista-1 li:first-child {
    border-top: 3px dotted black;
    color: blueviolet;
}
 /* Aplicar estilo al ultimo elemento de la lista 1 */
#Lista-1 li:last-child {
    background-color: aquamarine;
    border-bottom: 3px dotted black;
}

/* Aplicar estilo al noveno elemento */
#Lista-1 li:nth-child(9) {
    border: 1px solid black;
    border-radius: 3px;
}

/* Aplicar estilo cada 5 items */
#Lista-1 li:nth-child(5n) {
    border-bottom: 4px dotted gray;
}

/* Poner estilos a los elementos impares odd even*/
#Lista-2 li:nth-child(odd) {
    background-color: gray;
}

/* Poner eestilo a los elementos pares even */
#Lista-2 li:nth-child(even) {
    background-color: yellowgreen;
}

/* Cambiar el tamaño de la primer letra de todos los perrafos de la pagina */
p::first-letter {
    font-size: 100px;
    font-weight: bold;
}

p::first-line {
    background-color: peru;
}




