
body{
    background-color: #3e4ac5;
}

h1 {
    text-align: center;
    background-color: #edc4d6; 
    font-size: 50px;
}

h2 { 
    color: #fff;
}

a {
    text-decoration: none;
    font-size: 22px;
    color:#fff;

}

a:hover {
    background-color: #9d53b4;
}

